/* 
h1, form{
    background: rgb(226, 226, 226);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 300px;
}

th, td{
    background: rgb(226, 226, 226);
    border: 1px solid black;
    padding: 20px;
    vertical-align: top;
}

th{
    text-transform: uppercase;
} */

/* input[type=submit], button{
    margin-right: 8px;
    border: none;
    background: #6d0000;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
  } */
